@import url("../style/navbar.css");
@import url("../style/header.css");

:root {
    --branco: #FFFFFF;
    --cinza: #667085;
    --vermelho: #8E2424;
    --fonte-principal: "Inter";
}

body {
    background-color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
}