@import url("../style/navbar.css");
@import url("../style/header.css");
@import url("../style/resultados.css");
@import url("../style/depoimentos.css");
@import url("../style/vagas.css");
@import url("../style/footer.css");

:root {
    --branco: #FFFFFF;
    --cinza: #667085;
    --cinza-meio-claro: #98A2B3;
    --cinza-claro: #EAECF0;
    --vermelho: #8E2424;
    --rose: rgba(196, 25, 25, 0.03);
    --branco-escuro: #F9FAFB;
    --fonte-principal: "Inter";
}

body {
    background-color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
}