.cabeçalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0;
    row-gap: 24px;
}

.cabeçalho__secao {
    color: var(--vermelho);
    font-weight: 600;
}

.cabeçalho__titulo {
    font-weight: 600;
    font-size: 48px;
}

.cabeçalho__texto {
    font-size: 20px;
    font-weight: 400;
    color: var(--cinza);
    width: 60%;
    text-align: center;
    padding: 1em 0;
    line-height: 30px;
}